<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>社員一覧</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body class="bg-light p-4">
    <div class="container">
        <h1 class="text-primary fw-bold mb-4 border-bottom">人事管理システム</h1>

        <div class="row">
            <!-- 左：メニューと検索フォーム -->
            <div class="col-md-3">
                <h4 class="text-secondary">メニュー</h4>
                <ul class="mb-4 ps-0" style="list-style: none;">
                    <li><a th:href="@{/findAll}" class="btn btn-outline-primary w-100 mb-2">全社員一覧</a></li>
                    <li><a th:href="@{/showSearchForm}" class="btn btn-outline-primary w-100 mb-2">詳細検索</a></li>
                    <li><a th:href="@{/showInputView}" class="btn btn-outline-primary w-100">社員データ登録</a></li>
                </ul>

                <h5>社員番号で検索</h5>
                <form th:action="@{/showFindById}" method="get">
                    <input type="number" name="id" placeholder="社員番号">
                    <button class="btn btn-primary" type="submit">検索</button>
                </form>
            </div><!--END col-md-3(サイドバー) end-->

            <!-- 右：メイン画面 -->
            <div class="col-md-9">
                <h2 class="text-success border-bottom pb-2 mb-3">社員一覧</h2>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark text-center">
                        <tr>
                            <th>社員番号</th>
                            <th>社員名</th>
                            <th>給与</th>
                            <th>勤務地</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        <tr th:each="emp : ${empList}">
                            <td th:text="${emp.id}"></td>
                            <td th:text="${emp.name}"></td>
                            <td th:text="${emp.salary}"></td>
                            <td th:text="${emp.location.name}"></td>
                        </tr>
                    </tbody>
                </table>
            </div><!--END col-md-3(メイン画面)-->
        </div><!--END row1 end-->
    </div><!--END container end-->

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>