<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>人事管理システム</title>
</head>

<body>
	 <p>ログインユーザ：<span th:text = "${session.user.name}"></span></p>
    </hr>
	<h1>社員情報</h1>
	<table>
		<tr>
			<th>社員番号</th>
			<th>社員名</th>
			<th>給与</th>
		</tr>
		<tr>
			<td th:text="${emp.id}"></td>
			<td th:text="${emp.name}"></td>
			<td th:text="${emp.salary}"></td>
		</tr>
	</table>
	<p><a th:href="@{/emp/}">メニューに戻る</a></p>

	<hr>
	<h3>オプション機能</h3>
	<!--	オプション演習-->

	<form th:action="@{/emp/delete/}+${emp.id}">
		<input type="submit" value="削除">
	</form>


</body>

</html>