<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>人事管理システム</title>
</head>
<body>
   <h1>人事管理システム</h1>
   <!--下のth:ifは、5章で登場しますが、講師のanswerファイルの構成上、この記載がないとエラーが出ますので、記載しています。
   exercise側の受講者は、1つのメソッドに追記をしていく手順なので、記載不要です。 -->
   <p>ログインユーザー：<span th:if="${session.user != null and session.user.name != null}" th:text="${session.user.name}"></span>
</p>
    </hr>
    
    <h2>社員検索</h2>
    
    <p><a th:href="@{/emp/findAll}">全社員一覧</a></p>
    
    <form th:action="@{/emp/showFindById}">
		<h3>社員番号で検索</h3>
		<input type = "number" name = "id">
		<input type = "submit" value = "検索">
	</form>
	
	<form th:action="@{/emp/showFindBySalary}">
		<h3>給与で検索</h3>
		<input type = "number" name = "salary">
		<input type = "submit" value = "検索">
	</form>
	
	<p><a th:href="@{/emp/showInputView}">社員データ登録</a></p>
	
	<form th:action="@{/emp/showFindByName}">
		<h3>【オプション】社員名で検索</h3>
		<input type = "text" name = "name">
		<input type = "submit" value = "検索">
	</form>
    
</body>
</html>
