<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>書籍管理メニュー</title>
</head>
<body>
    <main layout:fragment="content">
        <h1>書籍管理メニュー</h1>
        <hr>

        <div>
            <h3>メニュー</h3>
            <ul>
                <li>
                    <a th:href="@{/book/list}">全書籍リストの確認</a>
                </li>
                <li>
                    <a th:href="@{/book/form}">書籍情報の登録</a>
                </li>
            </ul>
        </div>

        <hr>

        <div>
            <h3>書籍名で検索</h3>
            <form th:action="@{/book/search/title}" method="get">
                <input type="text" name="keyword" placeholder="キーワードを入力">
                <button type="submit">タイトルで検索</button>
            </form>
        </div>

        <hr>

        <div>
            <h3>価格帯で検索</h3>
            <form th:action="@{/book/search/price}" method="get">
                <input type="number" name="minPrice" placeholder="最低価格">
                <span>〜</span>
                <input type="number" name="maxPrice" placeholder="最高価格">
                <button type="submit">価格帯で検索</button>
            </form>
        </div>
    </main>
</body>
</html>
