<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>人事管理システム</title>
</head>
<body>
	<h1>社員一覧</h1>
	<table>
		<tr>
			<th>社員番号</th>
			<th>社員名</th>
			<th>給与</th>
		</tr>
		<tr th:each="emp: ${empList}">
			<td th:text="${emp.id}"></td>
			<td th:text="${emp.name}"></td>
			<td th:text="${emp.salary}"></td>
		</tr>
	</table>
	<p><a th:href="@{/}">メニューに戻る</a></p>

</body>

</html>