<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Traino商品</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>
<body>
    <!-- ヘッダー -->
    <header>
        <h1>Traino商品</h1>
    </header>

    <!-- サイドバー -->
    <nav>
        <ul>
            <li><a th:href="@{/products/list}">全商品一覧</a></li>
            <li><a th:href="@{/products/search}">商品検索</a></li>
            <li><a th:href="@{/products/register}">商品登録</a></li>
            <li><a th:href="@{/logout}">ログアウト</a></li>
        </ul>
    </nav>

    <!-- メインコンテンツ -->
    <main layout:fragment="main_content">
        <!-- 各ページ固有のコンテンツがここに入ります -->
    </main>

    <!-- フッター -->
    <footer>
        <p>copylight trainocate 2023</p>
    </footer>
    
<!--    <script th:src="@{/js/script.js}"></script>-->
</body>
</html>
