<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>書籍情報の登録</title>
</head>
<body>
	<h1>書籍情報の登録</h1>
	<p>書籍情報を入力してください。</p>
	<form th:action="@{/book/register}" method="post">
		
		<!--
			==============================================================
			【課題2.3の解答】以下の3項目（title, author, price）を作成しました
			==============================================================
		-->
		
		<div>
			<label for="title">書籍名</label>
			<input type="text" id="title" name="title" required>
		</div>
		<div>
			<label for="author">著者名</label>
			<input type="text" id="author" name="author" required>
		</div>
		<div>
			<label for="price">価格（円）</label>
			<input type="number" id="price" name="price" required>
		</div>
		
		<!--
			==============================================================
			【課題3.6の解答】ジャンルID入力を追加しました
			==============================================================
		-->
		<div>
			<label for="genreId">ジャンルID</label>
			<input type="number" id="genreId" name="genreId" required>
			<p>
				（参考）ジャンルID一覧： 1=プログラミング, 2=ビジネス, 3=小説, 4=科学, 5=自己啓発
			</p>
		</div>
		
		<div>
			<a th:href="@{/book/index}">戻る</a>
			<button type="submit">登録する</button>
		</div>
	</form>
</body>
</html>
