<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン（書籍管理システム）</title>
</head>
<body>
	<h1>書籍管理システム</h1>
	<h2>ログイン</h2>
	<!--
		【課題2.1 - ステップ4】
		ログイン用フォーム
	-->
	<form action="/login" method="post">
		<div>
			<label for="userId">ユーザID</label>
			<input type="text" id="userId" name="userId" required>
		</div>
		<div>
			<label for="password">パスワード</label>
			<input type="password" id="password" name="password" required>
		</div>
		<button type="submit">ログイン</button>
	</form>
</body>
</html>
