<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{/layout}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Insert title here</title>
</head>

<body>
	<main layout:fragment="main_content">
	<h1>検索</h1>
	
	<h2>商品価格検索</h2>
	<form action="findByPrice">
		商品価格：<input type="text" name="price" />
		<input type="submit" value="検索">
	</form>
	
	<h2>商品名+価格の検索</h2>
	<form action="findByNameAndPrice">
		商品名：<input type="text" name="name" />
		商品価格：<input type="text" name="price" />
		<input type="submit" value="検索">
	</form>
	</main>
</body>

</html>