<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<title>Traino商品</title>
	<link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>

<body>
	<!-- ヘッダー -->
	<header>
		<h1>Traino家電商品</h1>
	</header>

	<div class="flex-container">
		<!-- サイドバー -->
		<nav>
			<ul>
				<li><a th:href="@{/product/findAll}">全商品一覧</a></li>
				<li><a th:href="@{/product/}">商品検索</a></li>
				<li><a th:href="@{/product/insert}">商品登録</a></li>
				<li><a th:href="@{/5}">ログアウト</a></li>
			</ul>
		</nav>

		<!-- メインコンテンツ -->
		<main layout:fragment="main_content">
			<!-- 各ページ固有のコンテンツがここに入ります -->
		</main>
	</div>
	<!-- フッター -->
	<footer>
		<p>Copyright © 2023 Trainocate Spring. All rights reserved.</p>
	</footer>
</body>
</html>